<app-dashboard></app-dashboard>

<app-module-content></app-module-content>

<div style="text-align: center; margin: 20px;margin-bottom: 50px;">
    <!-- Incrustar video de YouTube usando un iframe -->
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/F2li2xMnsjI" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
  

<app-footer></app-footer>