.card {
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    color: #a31963;
  }
  
  .custom-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .p-button-danger {
    background-color: #e53935;
    border: none;
  }
  