<p-panel class="app-footer-panel" styleClass="footer-panel">
    <div class="footer-content">
      <!-- Logo de la Empresa -->
      <img src="../../../assets/instituto.png" alt="Moodle Logo" class="footer-logo" />
  
      <!-- Texto de Derechos de Autor -->
      <span class="footer-text">© 2024 Instituto Mayor. Todos los derechos reservados.</span>
  
      <!-- Texto de "Creado por" -->
      <span class="footer-created-by">
        Creado por: <a href="WWW.google.com" target="_blank">DIVOS SOFTWARE</a>
      </span>
    </div>
  </p-panel>