<div class="dashboard-container"  id="top">
    <!-- Encabezado del dashboard -->
    <div class="dashboard-header">
      Bienvenido a tu Dashboard
    </div>
  
    <!-- Sección de tarjetas usando el sistema de grillas -->
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="dashboard-card">
          <h3>Estadísticas</h3>
          <p>Visualiza las estadísticas de tu aplicación.</p>
          <button pButton label="Ver más" class="p-button-primary"></button>
        </div>
      </div>
  
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="dashboard-card">
          <h3>Reportes</h3>
          <p>Genera reportes detallados de tu rendimiento.</p>
          <button pButton label="Generar reporte" class="p-button-primary"></button>
        </div>
      </div>
  
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="dashboard-card">
          <h3>Configuración</h3>
          <p>Personaliza las configuraciones de tu cuenta.</p>
          <button pButton label="Ir a configuración" class="p-button-primary"></button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <app-admin-users></app-admin-users>


  
    