
<!-- Botón para abrir el sidebar -->
 <div style="width: 100%; height: 60px; border-bottom: 2px solid violet; margin-bottom: 5%; display: flex; align-items: center; justify-content: space-between;">

  <button pButton type="button" icon="pi pi-bars" label="Menú" (click)="displaySidebar = true" class="magenta-button"></button> 


  <!-- Circulo de personita -->
<!-- SpeedDial con opciones para cambiar el tema -->
<div style="margin-right: 20px;margin: auto;">
  <p-speedDial 
    [model]="items" 
    direction="down" 
    [visible]="showSpeedDial" 
    showIcon="pi pi-pen-to-square" 
    hideIcon="pi pi-times" 
    class="custom-speed-dial"
    buttonStyleClass="hidden-speed-dial"
    type="semi-circle">
  </p-speedDial>
</div>


  

</div>

<!-- Sidebar de navegación -->
 <p-sidebar [(visible)]="displaySidebar" position="left" [baseZIndex]="10000">
  <h2 class="sidebar-title">Dashboard</h2>
  <p-panelMenu [model]="menuItems"></p-panelMenu>
  <div class="sidebar-footer">
    <button type="button" pButton label="Cerrar" icon="pi pi-times" (click)="displaySidebar = false" class="magenta-button"></button>
  </div>
</p-sidebar> 

<!-- Contenido Principal -->


  
  
  
  
  



  
    