<div class="presentation-container">
    <div class="overlay"></div>
    <div class="content-container">
      <!-- Sección de bienvenida -->
      <section class="welcome-section">
        <h1>Instituto Mayor</h1>
        <p class="institution-name">Centro de aprendizaje</p>
        <p class="intro-text">
          Accede a la mejor plataforma educativa en línea diseñada para mejorar tu experiencia de aprendizaje. 
          Aquí encontrarás todas las herramientas necesarias para tu éxito académico.
        </p>
        <!-- Botón de login centralizado -->
        <div class="cta-button">
          <button pButton type="button" label="Iniciar Sesión" class="p-button-rounded p-button-lg login-btn" routerLink="/login"></button>
        </div>
      </section>
  
      <!-- Sección de características -->
      <section class="features-section">
        <h2>Descubre todo lo que puedes hacer !</h2>
        <div class="features-grid">
          <div class="feature-card">
            <i class="pi pi-book"></i>
            <p>Acceso a Materiales 24/7</p>
          </div>
          <div class="feature-card">
            <i class="pi pi-calendar"></i>
            <p>Seguimiento del Progreso</p>
          </div>
           <div class="feature-card">
            <i class="pi pi-comments"></i>
            <p>Clases presenciales</p>
          </div> 
          <div class="feature-card">
            <i class="pi pi-check-circle"></i>
            <p>Proyectos practicos</p>
          </div>
          <div class="feature-card">
            <i class="pi pi-mobile"></i>
            <p>Compatible con Móviles</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  